# Node Modules
node_modules/

# Build / Distribution
docs/.vitepress/dist/
dist/
docs/news/*.md
"!docs/news/index.md"

# Vite/VitePress Cache
docs/.vitepress/cache/
data/_generated/
docs/public/data/_generated/