# Node Modules
node_modules/

# Build / Distribution
docs/.vitepress/dist/
dist/
docs/news/*.md
!docs/news/index.md
!docs/news/add.md
!docs/news/edit.md
docs/public/feed.xml

# Vite/VitePress Cache
docs/.vitepress/cache/
data/_generated/
docs/public/data/_generated/